footer{
	background: url("img/footer.png");
	background-repeat: no-repeat;
	color: #adadad;
	padding-top: 65px;
	padding-left: 90px;
	padding-right: 90px;
}

.footer-div{
	line-height: 80%;
	display: flex;
	column-gap: 100px;
}

.aside-logo{
	padding-left: 10%;
	padding-top: 65px;
	color: rgba(174, 174, 174, 0.7);
}

.button-rol{
	margin-top: 100px;
	padding-right: 6px;
	align-items: flex-end;
	height: 102px;
	width: 40px;
	background: linear-gradient(180deg, #5E3928 20.13%, #E4A16F 92.93%);
	writing-mode: vertical-rl;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	font-weight: 800;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}